/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgba(0,0,0, 0.5);
  color: white;
}
#chat-div {
  border: 1px solid #fff;
  height: 400px;
  overflow-y: scroll;
  padding: 15px;
  padding-bottom: 20px;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.8);

  ul {
    list-style: none;
  }
}

.vid-container{
  position: relative;
}

.top{
  margin-top: -10px;
}

.large-vid{
  position: absolute;
  width: 500px;
  height: 500px;
}