<app-name (nameChosen)="chosenNameFn($event)"></app-name>
    <div *ngIf="chosenName">
        <button pButton type="button" (click)="roomDisplay = true" label="Rooms {{roomCount}}"></button>
        <button pButton [ngStyle]="{'border': newMsgs ? '4px solid green' : '4px solid red' }" type="button" (click)="peepDisplay = true" label="People {{peopleCount}}"></button>
      <span *ngIf="!inRoom">

        <input pInputText type="text" placeholder="Room Name" [(ngModel)]="room" />
        <p-spinner placeholder="Room Limit" [(ngModel)]="limit"></p-spinner>
        <button pButton type="button" [disabled]="!room" (click)="sendRoom()" label="Create room"></button>
      </span>
      <hr/>

      <div id="chat-div" *ngIf="messages.length > 0" #scrollMe>
        <div>
          <div *ngFor="let msg of messages">
            <span [style.color]="'white'"> {{ msg.from }}: </span>
            <span [style.color]="msg.color">{{ msg.msg }}</span>
           <span style="float: right;color:white">{{ msg.time }}</span>
          </div>
        </div>

      </div>
      <div *ngIf="messages.length > 0 && inRoom">
          <input type="text" pInputText  [(ngModel)]="msg" />
          <button type="button" pButton [disabled]="!inRoom || !msg" (click)="sendMsg()" label="Send Msg"></button><br />
      </div>



      <br />

    </div>

    <p-sidebar [(visible)]="roomDisplay" [blockScroll]="true">

        <h3>Rooms: {{ roomCount }}</h3>
      <br />
      <ng-container *ngIf="!inRoom">
      <div *ngFor="let rm of rms" ><button pButton type="button" class="ui-button-info" [disabled]="!chosenName" (click)="joinRoom(rm.id)" label="Join {{ rm.name }}">
      </button>
    </div>
    </ng-container>
    <ng-container *ngFor="let rm of rms" >
        <div *ngIf="person && person.inroom === rm.id" ><button pButton type="button" class="ui-button-warning" (click)="leaveRoom(rm.id)" label="Leave {{ rm.name }}">
        </button>
        <div *ngFor="let people of rm.people">
            <div *ngFor="let peep of peeps">
                <div *ngFor="let p of [peep]">
                  <div *ngIf="p.id === people">{{p.name}}</div>
                </div>
              </div>
          </div>
      </div>
      </ng-container>
    </p-sidebar>
    <p-sidebar [(visible)]="peepDisplay" (onHide)="hide()"  [blockScroll]="true">
        <h3>People: {{ peopleCount }}</h3>

      <br />
      <div *ngFor="let peep of peeps;let last=last">
        <div *ngFor="let p of [peep]">
        {{p.name}}<button  [ngStyle]="{'border': chosenDm && p.name === chosenDm.name ? '4px solid green' : '4px solid red' }" pButton *ngIf="person && p.id !== person.id" (click)="whisperBox(p)" label="DM"></button>
        <button pButton *ngIf="person && p.id !== person.id" (click)="call(p.id)" label="Call"></button>
        <p-dialog *ngIf="last" header="{{toName}}" [(visible)]="whisperBoxVis"
    positionTop="100" (onShow)="show()" [contentStyle]="{'width':'500px'}">
        <div class="ui-g">
            <div class="ui-g-12">
                <form id="nameForm">
                    <div class="ui-g-12">
                        <div id="chat-div"  #scrollMe2>
                            <div>
                              <div *ngFor="let msg of whispers">
                                <span [style.color]="'white'"> {{ msg.from }}: </span>
                                <span [style.color]="msg.color">{{ msg.msg }} </span>
                               <span style="float: right;color:white">To: {{msg.to}} {{ msg.time }}</span>
                              </div>
                            </div>

                          </div>
                        <div class="ui-g-offset-1 ui-inputgroup">
                            <input (keydown.enter)="sendWhisper()" pInputText required type="text"
                                [(ngModel)]="whisper" placeholder="Whisper" name="whisper" />
                            <button type="button" pButton (click)="sendWhisper()" name="send" [disabled]="!whisper"
                                label="Enter"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-dialog>
        </div>
      </div>
    </p-sidebar>